extends layout

block content
  div#screenContainer
    div#generalScreen

  div#generalMenu
    button#menuToggle.button MENU
    div#menuContainer.overlay
      nav
        button#menuGenerateSystem.button NEW SYSTEM
        button#menuSaveSystem.button SAVE SYSTEM
        button#menuLoadSystem.button LOAD SYSTEM
        button#menuDeleteSystem.button DELETE SYSTEM


  div#messageContainer.overlay(style='display: flex')
    div#message.eventStop
      h1#messageTitle= wellcomeTitle
      div#messageBody
        p.center
          span= wellcomeText